strong,
.article-el-h2,
.article-el-h3,
.article-el-h4 {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  color: whitesmoke;
}
.article-el-h1 {
  margin: 0;
  font-size: 2em;
}
.article-el-h2 {
  font-size: 1.5em;
}
.article-el-h3 {
  font-size: 1.17em;
}
.article-el-h4 {
  font-size: 16px;
}
.article-el-h5 {
  font-size: 0.83em;
}
.title {
  padding: 20px 20px;
  background-color:rgb(31,31,31);
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  color: white;
  margin: 0;
  background-image: url("Banner Art.png");
  background-position: center center;	
  background-size: cover;
  border-radius: 10px;
}
.footer {
  padding: 10px 20px;
  background-color: rgb(31,31,31);
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  color: white;
  margin: 0;
  background-image: url("photomode_s19_ultracitemine_d.png");
  background-position: top center;	
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: .35em;
  border-radius: 10px;
}
.content {
  padding: 0px 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: rgb(45,45,45);
  color: white;
  border-radius: 0px 0px 10px 10px;
}
.collapsible-triangle {
  padding-right: 8px;
  width: .5em;
  color: whitesmoke;
}

.note-count {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  color: red;
  font-size: 1.17em;
  margin-left: auto;
  margin-right: .5em;
}
.miner-note-icon{
  position:relative;
  font-size: 1.17em;
  height: 2em;
  color: red;
}
.fa-sticky-note-o {
  color: darkred;
}
body {
  font-family: Montserrat Regular, sans-serif;
  color: #333;
  background-repeat: repeat;
  background-color:rgb(18,18,18);
  overflow-y: scroll;
}
@media screen and (min-width: 1000px) {
  body {
    max-width: 75%;
    margin: auto;
  }
}
.button {
  cursor: pointer;
  border: none;
  padding: 10px;
  margin: 5px 0px 0px 0px;
  text-align: left;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  background-color:rgb(30,30,30);
  border-radius: 10px 10px 10px 10px;
  transition-delay: 0.2s;
  transition: border-radius 0s ease-out;
  transition-delay: 0.2s;
}
.button #text{
  color: whitesmoke;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
}
.button.active {
  border-radius: 10px 10px 0 0;
  transition: border-radius 0s ease-out;
}

.paragraph {
  margin: .7em 0em .7em 0em;
  font-weight: 400;
  line-height: 1.65em;
}
.miner-note strong{
  color: red;
}
.miner-note {
  color: red;
  margin-bottom: 1em;
  line-height: 1.65em;
}
.formID {
  border-radius: 5px;
  display: inline-block;
  background-color: rgb(172, 78, 78);
  color: white;
  padding: 0em .2em;
  margin: .1em 0em .1em 0em;
}

a {
  color: lightskyblue;
}

#invite {
  display: inline-block;
}
#logo {
  width: 5em;
  height: 5em;
  margin-left: auto;
}
