strong,h2,h3,h4 {
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    color: #333;
  }
  h1 {
    margin: 0;
  }
  .title {
    padding: 20px 20px;
    background-color: black;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    color: white;
    margin: 0;
  }
  .content {
     padding: 0px 20px;
     display: none;
  }
  body {
    font-family: schoolbook-web, serif;
    color: #333;
    background-image: url("background.png");
    background-repeat: repeat;
    overflow-y: scroll;
  }
  @media screen and (min-width: 1000px) {
    body {
      max-width: 50%;
      margin: auto;
    }
  }
  .button {
    border: none;
    padding: 0px 32px;
    margin: 5px 0px;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
  }
  