strong,
.article-el-h2,
.article-el-h3,
.article-el-h4 {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  color: #333;
}
.article-el-h1 {
  margin: 0;
  font-size: 2em;
}
.article-el-h2 {
  font-size: 1.5em;
}
.article-el-h3 {
  font-size: 1.17em;
}
.article-el-h4 {
  font-size: 16px;
}
.article-el-h5 {
  font-size: 0.83em;
}
.title {
  padding: 20px 20px;
  background-color: black;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  color: white;
  margin: 0;
  background-image: url("background.png");
  background-repeat: repeat;
}
.content {
  padding: 0px 20px;
  transition: max-height 0.2s ease-out;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.triangle{
  padding-right: 8px;
  width: .5em;
}
body {
  font-family: schoolbook-web, serif;
  color: #333;
  background-image: url("background.png");
  background-repeat: repeat;
  overflow-y: scroll;
}
.button {
  border: none;
  padding: 10px 32px 10px 10px;
  margin: 5px 0px;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
}
.footer {
  padding: 20px 20px;
  background-color: black;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  color: white;
  margin: 0;
  background-image: url("background.png");
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paragraph {
  margin-bottom: 1em;
}
.miner-note strong{
  color: red;
}
.miner-note {
  color: red;
  margin-bottom: 1em;
}
.formID {
  border-radius: 5px;
  display: inline-block;
  background-color: rgb(172, 78, 78);
  color: white;
  padding: .2em;
}
@media screen and (min-width: 1000px) {
  body {
    max-width: 50%;
    margin: auto;
  }
}
#invite {
  display: inline-block;
}
#logo {
  width: 5em;
  height: 5em;
  margin-left: auto;
}
